<section id="one" class="tiles">
    {% assign sorted_pages = site.pages | sort:"order"%}
    {% for pages in sorted_pages offset:4 %}
	{% if site.tiles-source == 'pages'  and pages.title != 'Inicio' and pages.title != 'Muchas Gracias!'%}
        <article>
                <span class="image">
                        <img src="{{ pages.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ pages.url }}" class="link">{{ pages.title }}</a></h3>
                        <p>{{ pages.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
</section>
